.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.container {
  /* max-width: 1200px; */
  /* width: 100%; */
  /* width: 900px; */
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.app-name {
  color: var(--blue8);
  text-align: center;
}

.hero {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 10rem;
  min-height: 5rem;
  align-items: center;
}

.header {
  width: 100%;
  background-color: var(--dark7);
  color: var(--gray0);
  height: 5rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  /* justify-content: space-between; */
  justify-content: center;
}

.facultyHeader {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.floorPlanImageContainer {
  display: flex;
  justify-content: center;
}

.card-img {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0.25rem;
  border: 1px solid var(--neutral-light);
  border-radius: 0.5rem;
}

.card-checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-checkbox-chip {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.floorPlanImage {
  object-fit: contain;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  overflow: hidden;
  /* width: 860px; */
}

.imageContainer {
  border-radius: 0.25rem;
  overflow: hidden;
}

.filter {
  display: flex;
  justify-content: space-between;
}

.card {
  padding: 1rem;
  background-color: var(--gray0);
  border-radius: 0.5rem;
  /* width: 280px; */
  border: 1px solid var(--neutral-light);
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card:hover {
  background-color: var(--accent-blue-trans);
  border: 1px solid var(--accent-blue);
}

.card-info {
  display: flex;
  justify-content: space-between;
}

.card-meta {
  align-self: center;
}

.room-status {
  color: var(--neutral-dark);
}

.accentGreen {
  background-color: var(--accent-green);
}

.accentRed {
  background-color: var(--accent-red);
}

.subheading {
  color: var(--neutral-dark);
  text-align: left;
}

.app-description {
  font-weight: bold;
  color: var(--tertiary);
  text-align: center;
  width: 80%;
}

.app-info-container {
  margin-top: 3rem;
  border: 3px solid var(--blue8);
  background-color: var(--accent-blue-trans);
  border-radius: 0.5rem;
  padding: 1rem;
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.subheadin-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-students {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.room-student {
  background-color: var(--accent-blue-trans);
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.inactive-student {
  background-color: var(--accent-green-trans);
  color: var(--green7);
}

.room-btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  justify-content: space-between;
}

.floorplan {
  margin-top: 1rem;
}

.card-id {
  font-size: small;
  color: var(--neutral-dark);
}

.bold-text {
  font-weight: bold;
}

.queryContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.filter-btn-container {
  display: flex;
  gap: 1rem;
}

.footer {
  color: var(--gray0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--tertiary);
  gap: 1rem;
  margin-top: 3rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stallInfo {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: var(--gray0);
  padding: 1rem;
}

.stallInnerContainer {
  display: flex;
  gap: 1rem;
}

.stallOuterContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: var(--gray0);
  border-radius: 0.25rem;
  overflow: hidden;
}

.roomVacantStatus {
  display: flex;
  justify-content: flex-end;
}

.roomVacantStatus h4 {
  text-align: right;
  line-height: 1.2rem;
}

.roomStatusVacant {
  background-color: var(--accent-green);
  min-width: 10px;
  max-width: 20px;
  border-radius: 0.25rem;
}

.app-name-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.roomStatusOccupied {
  background-color: var(--accent-red);
  min-width: 10px;
  max-width: 20px;
  border-radius: 0.25rem;
}

.tag {
  background-color: var(--neutral-mid);
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.tag:hover {
  background-color: var(--neutral-light);
}

.tag-active {
  background-color: var(--accent-blue);
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: var(--neutral-mid);
}

.tag-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {

} */

/* @media (prefers-reduced-motion) {

} */

/* Mobile */
/* @media (max-width: 700px) {

} */

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {

} */

/* @media (prefers-color-scheme: dark) {

}

@keyframes rotate {

} */
