# Ignore common development files and directories
node_modules
npm-debug.log
yarn-error.log
.env

# Ignore version control files
.git
.gitignore

# Ignore text editor-specific files
.vscode
*.swp
*~

# Ignore test and documentation files
__tests__
*.test.js
*.spec.js
*.md
